* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
  }

  body {
    color: #fff;
    background-color: black;
    margin: 0;
  }

  .container6 {
    width: 100%;
    height: max-content;
    background-position: center;
    background-size: cover;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgb(173, 224, 207);
  }

  nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo a {
    font-size: 40px;
    text-decoration: none;
  }

  span {
    color: #f9004d;
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
  }

  nav ul li a {
    text-decoration: none;
    transition: 0.5s;
  }

  nav ul li a:hover {
    color: #f9004d;
  }

  .login {
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
  }

  .btn {
    background: #000;
    border-radius: 6px;
    padding: 9px 25px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 18px;
  }

  .content {
    margin-top: 10%;
    max-width: 600px;
  }

  .content h2 {
    font-size: 60px;
  }

  .content p {
    margin-top: 10px;
    line-height: 25px;
  }

  a {
    color: #fff;
  }

  .link {
    margin-top: 30px;
  }

  .hire {
    color: #000;
    text-decoration: none;
    background: #fff;
    padding: 9px 25px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
  }

  .link .hire:hover {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
  }

  .services-content {
    background-color: black;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 16px;
  }